[python: app/**.py]
[jinja2: app/templates/**.html]
[jinja2: app/auth/templates/**.html]
[jinja2: app/main/templates/**.html]
[jinja2: app/aquaculture/templates/**.html]
[jinja2: app/poultry/templates/**.html]
[jinja2: app/cuniculture/templates/**.html]
[jinja2: app/marketplace/templates/**.html]
[jinja2: app/iot/templates/**.html]
[jinja2: app/finance/templates/**.html]
[jinja2: app/health/templates/**.html]
[jinja2: app/reports/templates/**.html]
encoding = utf-8
